<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbigguy.easyandroiddemo">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".KyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:maxAspectRatio="256"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.androidbigguy.easyandroiddemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>
        <activity
            android:name=".resfresh.ResFreshActivity"
            android:launchMode="singleTask" />
        <activity android:name=".resfresh.ClassicsActivity" />
        <activity android:name=".resfresh.GeogleActivity" />
        <activity android:name=".resfresh.SunActivity" />
        <activity android:name=".resfresh.CircleActivity" />
        <activity android:name=".resfresh.BerActivity" />
        <activity android:name=".resfresh.TextActivity" />
        <activity android:name=".resfresh.MaiDianActivity" />
        <activity android:name=".resfresh.IphoneActivity" />
        <activity android:name=".resfresh.WaterActivity" />
        <activity android:name=".resfresh.BalloonActivity" />
        <activity android:name=".banner.BannarActivity" />
        <activity
            android:name=".main.WelcomeActivity"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity android:name=".main.GuideActivity" />
        <activity android:name=".main.ToutiaoActivity" />

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />

        <activity android:name=".main.FilepickerActivity"></activity>
    </application>

</manifest>